<section class="flex-row space-between">
   <section class="dcard flex-row space-between">
    <p class="dashboard-name">{{title}}</p>
    <p class="dashboard-content">{{content}}</p>
   </section>   

</section>