<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <script src="https://cdn.tailwindcss.com"></script>   
</head>

<body class="bg-gray-700">
  <header class="md:mx-20">  
      <nav>
          <div class="flex flex-wrap items-center justify-between my-5 py-5 md:mx-10">
              <ul class="flex flex-col md:flex-row">
                  <li class="py-2 px-8 rounded-lg hover:bg-gray-500">
                      <a href="/" class="text-orange-200 font-bold">Home</a>
                  </li>
                  {{#if logged_in}}
                  <li class="py-2 px-8 rounded-lg hover:bg-gray-500">
                      <a href="/dashboard" class="text-orange-200 font-bold">Dashboard</a>
                  </li>               
                  <li class="py-2 px-8 rounded-lg hover:bg-gray-500">
                      <a href="/logout" class="no-button text-orange-200 font-bold" id="logout">Logout</a>
                  </li>
                  {{else}}
                  <li class="py-2 px-8 rounded-lg hover:bg-gray-500">
                      <a href="/login" class="text-orange-200 font-bold">Login</a>                
                  </li>
                   {{/if}}
              </ul>
          </div>
      </nav>                 
   
    </header>

   <main>
     
    {{{ body }}}
    </main>
    <footer>
      
    </footer>
  

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}  

  

</body>

</html>
