<!--<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>-->

  <div class="flex p-4 my-4 md:mx-5">
      <div class="mx-auto p-2 md:mx-28 border-2 border-orange-200 rounded-lg bg-orange-200 shadow-xl shadow-current">
          <h1 id="heading" class="text-3xl font-extrabold tracking-wider text-gray-700">Your Dashboard</h1>
      </div>           
  </div>
  
  <div id="dashboard" class="bg-orange-200 mx-2 py-2 md:mx-20 md:mb-10 md:px-10 shadow-xl rounded-lg shadow-current">
    {{#if blogposts.length}}
    <div class="post-list flex flex-wrap flex-col m-5 border-2 border-orange-200">
      {{#each blogposts as |blogpost|}} 
        <div class="flex flex-wrap flex-col md:flex-row md:justify-between bg-gray-500 my-4 py-4 shadow-xl rounded-lg shadow-current">               
          <div class="px-4 py-2">
            <h2 class="text-xl text-orange-200 font-bold"><a href="/update/{{blogpost.id}}">{{blogpost.title}}</a>
            </h2>
          </div>
          <div class="px-4 py-2">
            <button class="btn text-white" data-id="{{blogpost.id}}">DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
    {{/if}}
    <div class="form-group flex flex-wrap flex-col mt-36 mb-10 pt-20">
      <button id="new-post-btn" class="btn text-xl text-white rounded-lg bg-gray-700 hover:bg-gray-500 mx-auto mt-4 px-8 py-2" type="submit">+New Post</button>
    </div>
  </div>

  <div id="new-post" class="hidden bg-orange-200 py-2 md:mx-20 md:px-10 shadow-xl rounded-lg shadow-current">
    <div class="flex flex-wrap flex-col m-5 border-2 border-gray-700 shadow-lg shadow-current rounded">
      <div class="flex flex-wrap flex-col bg-gray-700">               
          <div class="px-4 py-2">
              <h2 class="text-xl text-orange-200 font-bold">Create New Post</h2>
          </div>                       
      </div>            
      <form class="form new-post-form">
        <div class="form-group flex flex-wrap flex-col px-4 py-2">
          <label for="post-name">Title</label>
          <input class="form-input p-3" type="text" id="post-name" name="post-name" />
        </div>
        <div class="form-group flex flex-wrap flex-col px-4 py-2">
          <label for="post-desc">Content</label>
          <textarea class="form-input p-3" id="post-desc" name="post-desc"></textarea>
        </div>
        <div class="form-group flex flex-wrap flex-col ">
          <button id="create-btn" class="btn text-white rounded-lg bg-gray-500 hover:bg-gray-700 mx-4 my-4 p-4" type="submit">Create</button>
        </div>
      </form>
    </div>         
  </div> 


<script src="./js/dashboard.js"></script>