<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment-name">project name:</label>
        <input class="form-input" type="text" id="comment-name" name="comment-name" />
      </div>     
      <div class="form-group">
        <label for="comment-desc">description:</label>
        <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

   <div class="flex p-4 my-4 md:mx-5">
          <div class="mx-auto p-2 md:mx-28 border-2 border-orange-200 rounded-lg bg-orange-200 shadow-xl shadow-current">
              <h1 id="heading" class="text-3xl font-extrabold tracking-wider text-gray-700">Your Dashboard</h1>
          </div>           
      </div>
<div class="bg-orange-200 py-2 md:mx-20 md:px-10 shadow-xl rounded-lg shadow-current">
    
  {{#if comments.length}}
  <div class="col-md-6 comment-list">
    <h3>Current Projects:</h3>

    {{#each comments as |comment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/comment/{{comment.id}}">{{comment.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
</div>

<script src="./js/dashboard.js"></script>
