<div class="row justify-space-between-md">
  <div class="dashboard-card">
    <h2 class="page-title">Dashboard</h2>
    <form class="form dashboard-form">
      <h3>Create New Post</h3>
      <div class="form-group">
        <label for="dash-title">Title</label>
        <input class="form-input" type="text" id="dash-title" />
      </div>   
      <div class="form-group">
        <label for="dash-content">Content</label>
        <input class="form-input" type="text" id="dash-content" />
      </div> 
     <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </form>
    <div>
      {{#each dashboard as |dashboard|}}
      {{> dashboard-details}}
      {{/each}}
    </div>
  </div>
