<div class="flex p-4 my-4 md:mx-5">
       <div class="mx-auto p-2 md:mx-28 border-r-4 border-b-4 border-double border-gray-500 rounded-lg bg-orange-200 shadow-lg shadow-current"> 
          <h1 id="heading" class="text-3xl font-extrabold tracking-wider text-gray-700">The Tech Blog</h1>
      </div>           
</div>

<div id="login-card" class="bg-orange-200 py-2 md:mx-20 md:px-10 shadow-xl rounded-lg shadow-current">
   <div class="flex flex-wrap flex-col m-5 border-2 border-gray-700 shadow-lg shadow-current rounded">
            <div class="flex flex-wrap flex-col bg-gray-700">               
                <div class="px-4 py-2">
                    <h2 class="text-xl text-orange-200 font-bold">Login</h2>
            </div>              
                      
            </div>            
              <form class="form login-form">
                  <div class="form-group flex flex-wrap flex-col px-4 py-2">
                    <label for="email-login">Username</label>
                    <input class="form-input p-3" type="text" id="email-login" />
                  </div>
                  <div class="form-group flex flex-wrap flex-col px-4 py-2">
                    <label for="password-login">Password</label>
                    <input class="form-input p-3" type="password" id="password-login" />
                  </div>
                  <div class="form-group flex flex-wrap flex-col ">
                    <button class="btn btn-primary text-white rounded-lg bg-gray-500 hover:bg-gray-700 mx-4 mt-4 p-4" type="submit">Login!</button>
                  </div>                  
                </form>
                <div class="flex flex-wrap px-2 py-4 ">
                    <button id="signup-instead" class="btn text-blue-500 rounded-lg p-2 hover:bg-sky-700 hover:text-white" type="submit">Sign up instead</button>
                </div>
            </div>
        </div>        
    </div>

    <div id="signup-card" class="hidden bg-orange-200 py-2 md:mx-20 md:px-10 shadow-xl rounded-lg shadow-current">
        <div class="flex flex-wrap flex-col m-5 border-2 border-gray-700 shadow-lg shadow-current rounded">
            <div class="flex flex-wrap flex-col bg-gray-700">               
                <div class="px-4 py-2">
                    <h2 class="text-xl text-orange-200 font-bold">Sign up</h2>
                </div>               
                      
            </div>            
            <form class="form signup-form">
                <div class="form-group flex flex-wrap flex-col px-4 py-2">
                  <label for="email-login">Username</label>
                  <input class="form-input p-3" type="text" id="email-login" />
                </div>
                <div class="form-group flex flex-wrap flex-col px-4 py-2">
                  <label for="password-login">Password</label>
                  <input class="form-input p-3" type="password" id="password-login" />
                </div>
                <div class="form-group flex flex-wrap flex-col ">
                  <button class="btn btn-primary text-white rounded-lg bg-gray-500 hover:bg-gray-700 mx-4 mt-4 p-4" type="submit">Sign up!</button>
                </div>
                
              </form>
              <div class="flex flex-wrap px-2 py-4 ">
                    <button id="login-instead" class="btn text-blue-500 rounded-lg p-2 hover:bg-sky-700 hover:text-white" type="submit">Login instead</button>
                  </div>
            </div>
        </div>     

  <!--<div class="row">
    <div class="col-md-6">
      <h2>Login</h2>

      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h2>Signup</h2>

      <form class="form signup-form">
        <div class="form-group">
          <label for="name-signup">name:</label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>-->
</div>

<script src="./js/login.js"></script>
