  <div class="flex p-4 my-4 md:mx-5">
        <div class="mx-auto p-2 md:mx-28 border-r-4 border-b-4 border-double border-gray-500 rounded-lg bg-orange-200 shadow-lg shadow-current"> 
            <h1 id="heading" class="text-3xl font-extrabold tracking-wider text-gray-700">The Tech Blog</h1>
        </div>           
  </div>  

  <div id="signup-card" class="bg-orange-200 py-2 md:mx-20 md:px-10 shadow-xl rounded-lg shadow-current">
    <div class="flex flex-wrap flex-col m-5 border-2 border-gray-700 shadow-lg shadow-current rounded">
      <div class="flex flex-wrap flex-col bg-gray-700">               
          <div class="px-4 py-2">
              <h2 class="text-xl text-orange-200 font-bold">Sign up</h2>
          </div>               
      </div>  
               
      <form class="form signup-form">
        <div class="form-group flex flex-wrap flex-col px-4 py-2">
          <label for="username-signup">Username</label>
          <input class="form-input p-3" type="text" id="username-signup" />
        </div>
        <div class="form-group flex flex-wrap flex-col px-4 py-2">
          <label for="password-signup">Password</label>
          <input class="form-input p-3" type="password" id="password-signup" />
        </div>
        <div class="form-group flex flex-wrap flex-col ">
          <button class="btn btn-primary text-white rounded-lg bg-gray-500 hover:bg-gray-700 mx-4 mt-4 p-4" type="submit">Sign up!</button>
        </div>
      </form>
      <div class="flex flex-wrap px-2 py-4 ">            
        <a href="/login" class="btn text-blue-500 rounded-lg p-2 hover:bg-sky-700 hover:text-white">Login instead</a>     
      </div>
    </div>   
  </div>    

<script src="./js/signup.js"></script>
